body{
    color: #333;
}

ul{
    padding: 0;
    list-style-type: none;
}

li{
    text-decoration: none;
}


a, p, li{
    color: #0d2537;
    font: 300 1em "Droid Sans";
}

h2{
    font-family: "Droid Sans";
    line-height: 1.5em;
}

/***********************
  SHARP BUTTONS
************************/
.sharp {
  border-radius:0;
}

/***********************
  CUSTOM BUTTONS (BOOTSRAP OVERRIDE)
************************/

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}
/***************************************
            NOUS-JOINDRE
***************************************/




/***************************************
                Index
***************************************/
.logo-top-margin{
    padding-top:50px;
}
.section-presentation{
    background: url('images/header-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.color-over{
    background-color: rgba(192, 192, 192, 0.5);
    width: 100%;
    height: 100%;
}

.presentation-text{
    width:80%;
    height:auto;
}

.section{
    padding-top: 3em;
    padding-bottom: 3em;
}

.section-title:before{
    margin-right: 15px;
}
.section-title:after{
    margin-left: 15px;
}
.section-title:before, .section-title:after{
    content: " ";
    height: 3px;
    width: 36px;
    display: inline-block;
    position: relative;
    bottom: 0.25em;
    background-color: #000;
}

.color-blue{
     background-color: rgba(239,72,72, 0.7); 
}

.color-lime{
     background-color: #5cb85c;
}
.color-beige{
     background-color: 	rgb(247, 239, 218);
}

/***************************************
          SECTION SI VOUS SOUHAITEZ...
***************************************/
.si-vous-souhaitez{}
.si-vous-souhaitez p {font-size: 2em; color: rgb(250, 75, 82); text-align: center;}
.souhaits-wrap{margin: 3em 0 3em 0;}




/*********************
       FOOTER
*********************/
.divFooter{
   /* background: #bcc665;
    */
    margin-top: 3em;
    border-top: 1px #B7D0D2 solid;
    border-bottom: 1px #B7D0D2 solid;
    height: 6em;
    width:100%;
    height:8em;
    float: left;
    text-align: center;
    
}

.divNsWeb{
    position: relative;
    top: 70%;
    transform: translateY(-30%);
    font-size: 12px;
    color: lightslategray;
}


/***************************************
                Navbar
***************************************/

/* Le clearfix est appliqu� a la navBar en entier, MAIS AUSSI au ul de la navBar. Il permet que les �l�ments qui flottent � l'int�rieur (genre les liens yo !) ne d�passent pas les contours du 
ul, ni du li. Donc, avant et apres que la classe du clearFix soit appliqu�e, on met un espace et apres*/
.logo{
    width: 100%;
    height: auto;
}
.logo-small{
    height:30px;
    width:auto;
    float:left;
    padding-left: 0.5em;
}

.navbar-wrap{
    position: relative; 
    margin: 0 auto; 
    width: 100%; 
    max-width: 1000px;
}
.navbar-pull{
     background-color: #283744;
     display: inline-block;
     padding: 5px;
}
.nav-icon{
     height: 30px;
     width: auto;
     float: right;
     padding: 0 1.5em;
}
.clearfix:before, /*le before veut juste dire "un style qui s'applique AVANT le clearfix*/
.clearfix:after { /*meme principe que le before, mais apres le clearfix */
     content: " "; 
     display: table; 
}
.clearfix:after {
     clear: both; /*empeche qu'un �l�ment flottant soit a gauche ou a droite de notre navbar et de notre ul*/
}
.clearfix {
     *zoom: 1; /*une shit qui fait que notre shit va fonctionner sur shit InternetExplorer */
}

nav{
     height: 60px; /* hauteur de notre navbar */
     width: 100%; /* 100% de la largeur de notre page */
     background: transparent;
     font-size: 14pt;
     font-family : 'Whitney SSm A', 'Whitney SSm B', 'Helvetica Neue', Helvetica, sans-serif;
     position: relative; /* Position va d�marrer � la hauteur du parent de la page, soit le body */
     
}

.nav-fixed{ /* FIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIXEEEEEEEED*/
    position: fixed;  
    background-color: #adc4cc;
    transition: background-color .4s ease-out;
    -webkit-transition: background-color .4s ease-out;
    -moz-transition: background-color .4s ease-out;
}

nav ul { /* le ul contient nos liens */
     padding: 0; /* ca veut dire : pas de padding */
     margin: 0 ; /* le "auto" met la margin horizontale automatique, ce qui fais qu'il y aura la meme largeur a gauche et a droite de nos liens */
     width: 600px; /* la largeur maximale qu'aura le ul (la partie avec les liens), le fait de setter 600 va l'empecher de deborder ou d'etre plus large' */
     height: 57px;
     float:right;
}

nav li{
    display: inline; /* force les elements (nos liens) a etre align�s horizontalement, plutot que verticalement comme le ferait normalement les li */
    float: left; /* fais flotter les elements a gauche... jpense qu'on lsais deja �a */
}

nav a {
     color: #fff;
     display: inline-block; /* permet de mettre des �l�ments ALIGN�S HORIZONTALEMENT et qui peuvent avoir une width, heights, ainsi qu'une marge entre chacun d'eux */
     width: 150px;
     text-align: center;
     text-decoration: none;
     line-height: 45px;
}

nav li a {
    /* border-right: 1px solid #FF0000; */
     padding: 0.45em 0 0.125em 0;
     box-sizing:border-box;  /* On dis au browser que quand on met des width et des height dans shits (notre "nav li a" dans ce cas ci,) la width ou heigth de */
     -moz-box-sizing:border-box;    /*l'�l�ment tiendra compte du compte du contenu et du contour de la boite, plutot que seulement l'int�rieur */
     -webkit-box-sizing:border-box;
}
nav li:last-child a { /*le dernier lien de notre navbar n'aura pas de marge a droite, pcq ca serait cave ! */
    border-right: 0;
}

nav a:hover, nav a:active{ /*couleur que le lien aura quand on passe la souris au dessus ET aussi une fois qu'il sera activ� (cliqu�) */
    text-decoration: none;
    border-bottom: 2px solid #dd5f32;
    color: #fff;
}

nav a:visited, nav a:link{
    text-decoration: none;
    color: #fff;
}

nav a#logo-link{
   width: 8.5em;
   line-height:0;
   float:left;
}

nav a#logo-link:hover{
    background-color: transparent;
    border-bottom: none;
}
.navbar-pull{
    display: none;
    text-decoration: none;
    color:#fff;
}
/* tout le style qui est est HAUT, c'est pour le style de "base", sans resizer l'ecran. Maintenant, on va adapter le style en fonction de diff�rents breakpoints, soit des grandeurs d'�cran
plus petites, pour pas que ca aille l'air d'une crotte qd on regarde ca sur mobile*/


/* Media queries */ 
@media screen and (max-width: 780px) { /* s'applique quand c plus petit que 750 px de large */
    nav { 
        height: auto; /*on laisse le browser calculer la hauteur de la nav en fonction de son contenu (au lieu du 40 px d'avant') */
    }
    nav ul {
        width: 100%; /* le ul occupera donc toute la largeur de l'�cran */
        display: block; /* on fais une "line break, genre l'equivalent de faire enter dans word" a chaque fois qu'on met un new element dans le UL */
        height: auto;
        margin: 0 auto;
        float:none;
    }
    nav li {
        width: 50%; /* chaque lien aura 50% de la largeur de l'�cran */
        float: left;
        position: relative; /*a la hauteur normale de son parent, soit le ul, jpense que c meme pas obligatoire ca */
    }
    nav a:hover, nav a:active {
        border-bottom:1px solid #576979;
        background-color: #576979;
    }
    
    nav li a {
        border-bottom: 1px solid #576979;
        border-right: 1px solid #576979;
    }
    nav a { /* le nav a, c'est notre bouton "menu" pour faire derouler notre menu sur mobile */
        text-align: left;
        width: 100%;
        text-indent: 25px; /* juste un esoace de 25 px a gauche du texte ben relaxe */
    }
    
    nav a#logo-link{
        display:none;
    }
}

@media only screen and (max-width : 721px) { /* s'applique quand c plus petit que 480 px de large */
    nav {
        border-bottom: 0; /* pu de barre en bas du menu :( */
    }
    nav ul {
        display: none; /*on fais disparaitre nos lien */
        height: auto;
    }
    
    nav li{
        background-color: rgb(40, 55, 68); /* Pour les browser qui supportent pas le rgba */
        background-color: rgba(40, 55, 68, 0.5);
    }
    
    nav a:hover, nav a:active {
        border-bottom:1px solid #576979;
        background-color: #283744;
    }
    
    .navbar-pull{
        display: inline-block;
        background-color: #283744;
        width: 100%;
        position: relative;
    }
    nav a#logoSmall, nav a#pull{
        float: left;
        width: 50%;
    }
    
    nav a#logoSmall:hover, nav a#pull:hover{
        border-bottom: none;
        background-color: transparent;
    }
}

@media only screen and (max-width : 400px) {
    nav li {
        display: block; /* donc les liens seront a cette taille d'ecran la tous un en dessous de l'autre */
        float: none; /* on les fais pu flotter */
        width: 100%; 
    }
    nav li a {
        border-bottom: 1px solid #576979;
        border-right:0;
    }
    nav a:hover, nav a:active {
       
    }
}


